[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "APfun"]
	path = APfun
	url = https://github.com/cran/APfun
[submodule "ForestTools"]
	path = ForestTools
	url = https://github.com/andrew-plowright/foresttools
